llama.pkl
*pkl
*csv
llama
__pycache__
.mypy_cache
Untitled-2.py
parsero/pycop/docs/CodeBaseIndexer.py.md
parsero/pycop/docs/test_keyfeatures.py.md
pycop/docs/CodeBaseIndexer.py.md
pycop/docs/test_keyfeatures.py.md
